<?xml version="1.0" encoding="utf-8"?>
<config>
  <guestrequestkey>2</guestrequestkey>
  <banknumber>69887</banknumber>
  <hostkey>5</hostkey>
  <hostingunitkey>4</hostingunitkey>
  <orderkey>2</orderkey>
  <commission>1</commission>
  <numberofdaysuntilexpired>1</numberofdaysuntilexpired>
  <guestkey>2</guestkey>
</config>