<?xml version="1.0" encoding="utf-8"?>
<config>
  <guestrequestkey>6</guestrequestkey>
  <banknumber>33240</banknumber>
  <hostkey>4</hostkey>
  <hostingunitkey>5</hostingunitkey>
  <orderkey>2</orderkey>
  <commission>100</commission>
  <numberofdaysuntilexpired>1</numberofdaysuntilexpired>
  <guestkey>3</guestkey>
</config>