<?xml version="1.0" encoding="utf-8"?>
<config>
  <guestrequestkey>6</guestrequestkey>
  <banknumber>311867</banknumber>
  <hostkey>7</hostkey>
  <hostingunitkey>11</hostingunitkey>
  <orderkey>4</orderkey>
  <commission>89</commission>
  <numberofdaysuntilexpired>1</numberofdaysuntilexpired>
  <guestkey>5</guestkey>
</config>